<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.julie.oneproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".business.zhihu.ZhihuActivity" />

        <service
            android:name=".aidl.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".aidl.BookManagerActivity" />
        <activity android:name=".business.test.TimePickerActivity" />
        <activity android:name=".business.SplashActivity"></activity>
        <activity android:name=".business.main.BottomNavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.palyer.PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".business.film.FilmActivity" />
        <activity android:name=".business.test.CircleWaveActivity" />
        <activity android:name=".business.zhihudetail.ZhihuDetailActivity" />
        <activity android:name=".business.meizi.MeiziActivity"></activity>
        <activity android:name=".business.photo.PhotoActivity" />
        <activity android:name=".business.test.WaveBySinCosActivity"></activity>
        <activity android:name=".business.test.TestActivity">

        </activity>
    </application>

</manifest>